/* screen - login-email */

.login-email {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: 1440px;
}

.login-email .overlap-group {
  height: 810px;
  position: relative;
  width: 1440px;
}

.login-email .background {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 810px;
  left: 0;
  padding: 311px 537px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.login-email .component {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--saddle);
  border-radius: 30px;
  display: flex;
  height: 40px;
  min-width: 343px;
  padding: 8.1px 15px;
}

.login-email .janeexamplecom {
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.login-email .component-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--saddle);
  display: flex;
  height: 40px;
  min-width: 343px;
  padding: 8.1px 15px;
}

.login-email .text-6 {
  height: 18px;
}

.login-email .button {
  align-items: center;
  background-color: #fdc979;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 52px;
  min-width: 343px;
  padding: 0 130.3px;
}

.login-email .log-in {
  color: var(--saddle);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 900;
  height: 28px;
  letter-spacing: 0.96px;
  line-height: normal;
  min-width: 81px;
  text-align: center;
  white-space: nowrap;
}

.login-email .privacy {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 1370px;
  min-height: 74px;
  padding: 5px 0;
  position: absolute;
  top: 736px;
  width: 70px;
}

.login-email .text-7 {
  height: 9px;
  margin-top: -1px;
  text-align: center;
  width: 6px;
}

.login-email .vector {
  height: 17px;
  left: 1359px;
  position: absolute;
  top: 64px;
  width: 17px;
}

.login-email .heading-1-log-in {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: 48px;
  font-weight: 400;
  height: 48px;
  left: 650px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 204px;
  white-space: nowrap;
}

.login-email .link {
  height: 9px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
}

.login-email .text {
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
