/* screen - explore */

.explore {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 810px;
  min-width: 1440px;
}

.explore .overlap-group1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 1825px;
  width: 1440px;
}

.explore .flex-col {
  flex-direction: column;
  margin-top: 15px;
  min-height: 1068px;
  width: 1440px;
}

.explore .flex-row {
  margin-left: 28.0px;
  min-width: 1278px;
}

.explore .heading-2-link-high-lytr {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  min-width: 105px;
}

.explore .item-link-home {
  margin-left: 39px;
  min-width: 47px;
}

.explore .item-link-explore {
  margin-left: 18px;
  min-width: 58px;
}

.explore .item-link-resources {
  margin-left: 18px;
  min-width: 79px;
}

.explore .item-link-resources-1 {
  height: 18px;
  letter-spacing: 0.70px;
  line-height: normal;
  margin-top: -1px;
  width: 79px;
}

.explore .item-link-connect {
  margin-left: 18px;
  min-width: 65px;
}

.explore .search {
  align-items: flex-end;
  border: 0.52px solid;
  border-color: var(--black-3);
  border-radius: 5.21px;
  display: flex;
  height: 25px;
  margin-bottom: 6.81px;
  margin-left: 450px;
  overflow: hidden;
  width: 207px;
}

.explore .search-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-bottom: 0;
  margin-left: 1px;
  width: 206px;
}

.explore .divl-yhw1-a {
  align-items: flex-start;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 6.83px 0px 7.76px;
  position: relative;
}

.explore .button {
  align-items: flex-start;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 14px;
  height: 41px;
  justify-content: flex-end;
  margin-left: 20px;
  margin-top: 0.21px;
  min-width: 120px;
  padding: 4px 10px;
}

.explore .cart {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-width: 35px;
  padding: 0 0.8px;
}

.explore .overlap-group {
  height: 42px;
  position: relative;
  width: 33px;
}

.explore .vector {
  height: 33px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 33px;
}

.explore .vector-1 {
  height: 10px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 16px;
}

.explore .number {
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 11px;
}

.explore .find-dream {
  align-items: center;
  background-color: var(--sazerac);
  display: flex;
  flex-direction: column;
  margin-top: 11px;
  min-height: 413px;
  padding: 91px 336.6px;
  width: 1440px;
}

.explore .heading-2-find-your-dream-university {
  align-self: flex-end;
  height: 68px;
  letter-spacing: 0;
  line-height: 78.4px;
  text-align: center;
  white-space: nowrap;
  width: 766px;
}

.explore .browse-through-the-c {
  height: 19px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-right: 0.8px;
  margin-top: 29px;
  text-align: center;
  white-space: nowrap;
  width: 606px;
}

.explore .link-browse-now {
  align-items: flex-start;
  background-color: var(--christine);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  margin-top: 37px;
  min-width: 142px;
}

.explore .div-stylable-button2545352419__container {
  align-items: center;
  display: flex;
  height: 42px;
  padding: 0 11.4px;
  width: 142px;
}

.explore .span-stylable-button2545352419__label {
  align-items: flex-start;
  display: flex;
  padding: 0px 0.16px 0px 0px;
  position: relative;
  width: fit-content;
}

.explore .browse-now {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.explore .flex-row-1 {
  margin-top: 24px;
}

.explore .usfca {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 578px;
  width: 315px;
}

.explore .usfcajpg {
  height: 388px;
  width: 315px;
}

.explore .university-of-san-francisco {
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 9.81px;
  margin-top: 53px;
  text-align: center;
  width: 276px;
}

.explore .founded-in-1855-usf {
  color: var(--fuscous-gray-2);
  font-weight: 400;
  height: 96px;
  line-height: 24px;
  margin-right: 6.74px;
  margin-top: 13px;
  min-width: 201px;
  text-align: center;
}

.explore .stanford {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 558px;
  width: 315px;
}

.explore .stanfordjpg {
  height: 388px;
  width: 315px;
}

.explore .stanford-university {
  height: 27px;
  letter-spacing: 0;
  line-height: 30.8px;
  margin-right: 9.82px;
  margin-top: 54px;
  text-align: center;
  white-space: nowrap;
  width: 198px;
}

.explore .founded-in-1885-sta {
  height: 72px;
  margin-right: 7.12px;
  margin-top: 16px;
  min-width: 224px;
}

.explore .usb {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 558px;
  width: 315px;
}

.explore .berkeleyjpg {
  height: 388px;
  width: 315px;
}

.explore .uc-berkeley {
  height: 27px;
  letter-spacing: 0;
  line-height: 30.8px;
  margin-right: 9.79px;
  margin-top: 54px;
  text-align: center;
  white-space: nowrap;
  width: 127px;
}

.explore .founded-in-1868-uc {
  color: var(--fuscous-gray-2);
  font-weight: 400;
  height: 72px;
  line-height: 24px;
  margin-right: 7.12px;
  margin-top: 16px;
  min-width: 226px;
  text-align: center;
}

.explore .flex-row-2 {
  margin-top: 39px;
}

.explore .asu {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 578px;
  width: 315px;
}

.explore .asujpg {
  height: 388px;
  width: 315px;
}

.explore .arizona-state-university {
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 9.82px;
  margin-top: 53px;
  text-align: center;
  width: 248px;
}

.explore .founded-in-1885-asu {
  height: 96px;
  margin-right: 5.22px;
  margin-top: 13px;
  min-width: 197px;
}

.explore .harvard {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 558px;
  width: 315px;
}

.explore .harvardjpg {
  height: 388px;
  width: 315px;
}

.explore .harvard-university {
  height: 27px;
  letter-spacing: 0;
  line-height: 30.8px;
  margin-right: 9.79px;
  margin-top: 54px;
  text-align: center;
  white-space: nowrap;
  width: 191px;
}

.explore .founded-in-1636-har {
  color: var(--fuscous-gray-2);
  font-weight: 400;
  height: 72px;
  line-height: 24px;
  margin-right: 5.22px;
  margin-top: 16px;
  min-width: 197px;
  text-align: center;
}

.explore .duke {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 558px;
  width: 315px;
}

.explore .dukejpg {
  height: 388px;
  width: 315px;
}

.explore .surname {
  height: 27px;
  letter-spacing: 0;
  line-height: 30.8px;
  margin-right: 9.81px;
  margin-top: 54px;
  text-align: center;
  white-space: nowrap;
  width: 163px;
}

.explore .founded-in-1838-duk {
  color: var(--fuscous-gray-2);
  font-weight: 400;
  height: 72px;
  line-height: 24px;
  margin-right: 5.6px;
  margin-top: 16px;
  min-width: 211px;
  text-align: center;
}

.explore .footer {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 69px;
  justify-content: flex-start;
  margin-top: 56px;
  min-width: 1440px;
  padding: 0 231.1px;
  width: auto;
}

.explore .copyright {
  height: 19px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-bottom: 4.0px;
  text-align: center;
  white-space: nowrap;
  width: 129px;
}

.explore .list-social-bar {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-left: 235px;
  min-width: 235px;
}

.explore .item-link-wow-image {
  height: 39px;
  width: 39px;
}

.explore .link-privacy-policy {
  height: 19px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-bottom: 4.0px;
  margin-left: 144px;
  text-align: center;
  white-space: nowrap;
  width: 109px;
}

.explore .link-terms-of-use {
  height: 19px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-bottom: 4.0px;
  margin-left: 15px;
  text-align: center;
  white-space: nowrap;
  width: 103px;
}

.explore .flex {
  align-items: center;
  display: flex;
}

.explore .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  height: 578px;
  margin-left: 11.0px;
  min-width: 983px;
}

.explore .founded-in-1885 {
  color: var(--fuscous-gray-2);
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.explore .item-link {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 0.19px;
}
