/* screen - following */

.following {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 1320px;
  width: 1440px;
}

.following .header {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 67px;
  justify-content: flex-start;
  min-width: 1440px;
  mix-blend-mode: normal;
  padding: 14px 118px;
  width: auto;
}

.following .high-lytr-home-explore-resources-connect {
  color: var(--christine);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 30px;
  line-height: 20px;
  width: 544px;
}

.following .span0 {
  letter-spacing: 1.00px;
  line-height: 30px;
}

.following .span1 {
  letter-spacing: 0.70px;
}

.following .button-1 {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin-left: 500px;
  position: relative;
}

.following .svg {
  flex: 0 0 auto;
  position: relative;
}

.following .sign-in {
  color: var(--christine);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 56px;
}

.following .cart {
  align-items: center;
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 39px;
  margin-top: 0;
  position: relative;
}

.following .vector {
  height: 8.19px;
  position: relative;
  width: 16.05px;
}

.following .vector-1 {
  height: 28.46px;
  position: relative;
  width: 33.34px;
}

.following .number {
  color: #0000ee;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 10px;
}

.following .overlap-group-container {
  align-items: flex-start;
  background-color: #f2f1f0;
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-height: 1248px;
  padding: 24px 37px;
  width: 1440px;
}

.following .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 80px;
  padding: 14px 60px;
  width: 1363px;
}

.following .title {
  height: 35px;
  letter-spacing: 0;
  font-weight: 900;
  font-family: Montserrat;
  line-height: normal;
  white-space: nowrap;
}

.following .flex-row {
  height: 110px;
  margin-left: 30px;
  min-width: 942px;
}

.following .ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 187px;
  width: 80px;
}

.following .ellipse {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.following .name-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 76px;
  margin-left: 31px;
  margin-top: 5.16px;
  min-height: 148px;
  width: 163px;
}

.following .name {
  min-height: 40px;
  white-space: nowrap;
  font-family: Montserrat;
}

.following .name-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 36px;
  white-space: nowrap;
}

.following .flex-col {
  flex-direction: column;
  gap: 87px;
  margin-left: 24px;
  margin-top: 3.16px;
  min-height: 148px;
  width: 120px;
}

.following .coach {
  height: 30px;
  letter-spacing: 3px;
  line-height: normal;
  text-align: center;
  margin-right: 5.0px;
  width: 100px;
  border: 3px solid var(--sunset-pearl);
  border-radius: 10px;
}

.following .athlete {
  height: 30px;
  letter-spacing: 3px;
  line-height: normal;
  text-align: center;
  width: 110px;
  border: 3px solid;
  border-radius: 10px;
}

.following .component-container {
  flex-direction: column;
  gap: 68px;
  margin-left: 70px;
  margin-top: 13.16px;
  min-height: 156px;
  width: 170px;
}

.following .component-23 {
  background-color: var(--sunset-pearl);
  border-radius: 6px;
  cursor: pointer;
  height: 44px;
  min-width: 170px;
  padding: 7px 26px;
}

.following .component-container-1 {
  gap: 67px;
  margin-left: 82px;
  margin-top: 12.16px;
  min-height: 155px;
  width: 171px;
}

.following .flex-row-1 {
  align-items: center;
  align-self: center;
  background-image: url(../img/rectangle-24.svg);
  background-size: 100% 100%;
  display: flex;
  height: 501px;
  margin-right: 1.0px;
  min-width: 1363px;
  padding: 17px 41px;
}

.following .flex-col-1 {
  align-items: center;
  align-self: flex-start;
  min-height: 407px;
  width: 130px;
}

.following .button-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 107px;
  min-height: 200px;
  width: 140px;
}

.following .button {
  align-items: center;
  height: 36px;
  margin-top: 25px;
}

.following .component {
  align-items: flex-start;
  display: flex;
}

.following .component-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.following .message {
  height: 28px;
  min-width: 117px;
  letter-spacing: 0.96px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.following .flex {
  align-items: center;
  display: flex;
}

.following .coach {
  color: var(--christine);
  font-weight: 900;
  font-family: Montserrat;
}

.following .athlete {
  font-weight: 900;
  font-family: Montserrat;
}

.following .add {
  background-color: var(--sunset-pearl);
  border-radius: 5px;
  height: 28px;
  min-width: 117px;
  letter-spacing: 0.96px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  font-family: Montserrat;
}

.following .cancel {
  background-color: #FF8080;
  border-radius: 5px;
  height: 28px;
  min-width: 117px;
  letter-spacing: 0.96px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  font-family: Montserrat;
}