@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,600,400|Inter:400,700|Roboto:900,700,600,300,500,400|Source+Sans+Pro:700|Molengo:400|Comfortaa:700|Open+Sans:400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/649e87c3b0d28fb8f43a8760.649e87c4f8544d5e7e06621d.CaFbfxT.hcp.png");

@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Arial regular.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.high-lytr-home-explore-resources-connect {
  cursor: pointer;
  height: 30px;
  line-height: 20px;
  width: 544px;
}

.get-started-1 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.10px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.copyright {
  height: 19px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-bottom: 4.0px;
  text-align: center;
  white-space: nowrap;
  width: 129px;
}

.list-social-bar {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-left: 235px;
  min-width: 235px;
}

.item-link-wow-image {
  height: 39px;
  width: 39px;
}

.link-privacy-policy {
  height: 19px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-bottom: 4.0px;
  margin-left: 144px;
  text-align: center;
  white-space: nowrap;
  width: 109px;
}

.link-terms-of-use {
  height: 19px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-bottom: 4.0px;
  margin-left: 15px;
  text-align: center;
  white-space: nowrap;
  width: 103px;
}

.information {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  height: 281px;
  min-width: 415px;
}

.flex-col-item {
  height: 35px;
  letter-spacing: 0.52px;
  line-height: normal;
  text-align: center;
  width: 148px;
}

.frame-container {
  align-self: flex-end;
  flex-direction: column;
  gap: 54px;
  min-height: 274px;
}

.frame-85 {
  border: 1px solid;
  border-color: var(--black-2);
  border-radius: 10px;
  height: 28px;
  overflow: hidden;
}

.user-name {
  height: 30px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 50px;
  margin-top: -3px;
  width: 300px;
}

.divrc-anchor-logo-img {
  height: 40px;
  width: 40px;
}

.divrc-anchor-pt {
  align-items: flex-start;
  display: flex;
  gap: 1px;
  justify-content: flex-end;
  min-width: 70px;
  padding: 0 6.6px;
}

.link-privacy {
  width: 26px;
}

.link-terms {
  width: 23px;
}

.footer-2 {
  display: flex;
  min-width: 1440px;
}