/* screen - more-info */

.more-info {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 2214px;
  width: 1440px;
}

.more-info .header {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 67px;
  justify-content: flex-start;
  min-width: 1440px;
  mix-blend-mode: normal;
  padding: 14px 118px;
  width: auto;
}

.more-info .span0 {
  letter-spacing: 1.00px;
  line-height: 30px;
}

.more-info .span1 {
  letter-spacing: 0.70px;
}

.more-info .button {
  align-items: center;
  align-self: flex-end;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 0.66px;
  margin-left: 493px;
  padding: 2px 0px;
  position: relative;
  width: fit-content;
}

.more-info .svg {
  height: 26px;
  min-width: 38px;
  position: relative;
}

.more-info .sign-in {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 56px;
}

.more-info .cart {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 39px;
  margin-top: 0;
  position: relative;
  width: fit-content;
}

.more-info .vector {
  height: 8.19px;
  min-width: 16.05px;
  position: relative;
}

.more-info .vector-1 {
  height: 28.46px;
  min-width: 33.34px;
  position: relative;
}

.more-info .number {
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 10px;
}

.more-info .overlap-group3 {
  border-radius: 24px;
  height: 312px;
  position: relative;
  width: 1440px;
}

.more-info .followers-0-following-0 {
  height: 29px;
  left: 325px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  text-align: center;
  top: 206px;
  white-space: nowrap;
}

.more-info .name-1 {
  left: 333px;
  position: absolute;
  top: 155px;
}

.more-info .component-12 {
  align-items: center;
  background-color: var(--coffee);
  border-radius: 24px;
  display: flex;
  gap: 72px;
  height: 312px;
  left: 0;
  min-width: 1440px;
  padding: 12px 85.5px;
  position: absolute;
  top: 0;
}

.more-info .flex-col {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 267px;
  width: 283px;
}

.more-info .user-icon {
  align-items: flex-start;
  background-color: var(--sand-dune);
  border-radius: 50%;
  display: flex;
  height: 222px;
  margin-left: 80px;
  min-width: 222px;
  padding: 58px 53px;
}

.more-info .u {
  height: 103px;
  letter-spacing: 0;
  line-height: 28.8px;
  text-align: center;
  width: 139px;
}

.more-info .followers-0-following-0-1 {
  height: 29px;
  letter-spacing: 0;
  line-height: 28.8px;
  min-width: 283px;
  text-align: center;
  white-space: nowrap;
}

.more-info .name-2 {
  margin-bottom: 27.0px;
  min-width: 173px;
}

.more-info .frame-856 {
  background-color: var(--white);
  height: 1524px;
  position: relative;
  width: 1440px;
}

.more-info .flex-col-1 {
  align-items: flex-start;
  gap: 1px;
  left: 100px;
  min-height: 655px;
  position: absolute;
  top: 43px;
  width: 1202px;
}

.more-info .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 70px;
  height: 465px;
  min-width: 1202px;
}

.more-info .flex-col-2 {
  align-items: flex-start;
  min-height: 465px;
  width: 618px;
}

.more-info .title {
  color: var(--black-2);
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-weight: 600;
  height: 56px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.more-info .view-and-edit-your-personal-info-below {
  color: var(--black-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 300;
  height: 29px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 21px;
  white-space: nowrap;
}

.more-info .display-info-your-pr {
  height: 62px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 38px;
}

.more-info .display-name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 86px;
  width: 512px;
}

.more-info .display-name-1 {
  letter-spacing: 2.00px;
  line-height: 40px;
  margin-top: -1px;
  white-space: nowrap;
}

.more-info .component-9 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--fuscous-gray);
  border-radius: 10px;
  display: flex;
  height: 47px;
  margin-left: 2px;
  min-width: 510px;
  padding: 0 19px;
}

.more-info .name {
  letter-spacing: 3.00px;
  line-height: 40px;
  margin-top: -1px;
  min-height: 36px;
  white-space: nowrap;
}

.more-info .about-me {
  height: 71px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 37px;
  width: 610px;
}

.more-info .flex-col-3 {
  align-items: flex-start;
  gap: 198px;
  margin-top: 7px;
  min-height: 347px;
  width: 514px;
}

.more-info .component-container {
  align-items: flex-start;
  display: flex;
  gap: 117px;
  margin-left: 4px;
  min-width: 510px;
}

.more-info .component-10 {
  align-items: flex-start;
  background-color: #d9d9d9;
  display: flex;
  height: 63px;
  min-width: 224px;
  padding: 10px 33px;
}

.more-info .update-info {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 30px;
  font-weight: 600;
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.more-info .component-11 {
  align-items: flex-start;
  display: flex;
  height: 63px;
  justify-content: center;
  min-width: 169px;
}

.more-info .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black-2);
  display: flex;
  height: 67px;
  margin-top: -2px;
  min-width: 173px;
  padding: 13px 34px;
}

.more-info .discard {
  color: #070707;
  font-family: var(--font-family-roboto);
  font-size: 30px;
  font-weight: 600;
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.more-info .title-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 86px;
  width: 512px;
}

.more-info .title-2 {
  letter-spacing: 2.00px;
  line-height: 40px;
  margin-top: -1px;
  white-space: nowrap;
}

.more-info .athlete {
  height: 36px;
  letter-spacing: 3.00px;
  line-height: 40px;
  margin-top: -1px;
  white-space: nowrap;
}

.more-info .overlap-group2 {
  height: 189px;
  position: relative;
  width: 1200px;
}

.overlap-group2 textarea {
  width: 1200px;
  height: 200px;
}

.more-info .rectangle-15 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--fuscous-gray);
  border-radius: 10px;
  height: 176px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1200px;
}

.more-info .the-star-quarterback {
  left: 16px;
  letter-spacing: 3.00px;
  line-height: 40px;
  position: absolute;
  top: 32px;
  width: 1169px;
}

.more-info .flex-col-4 {
  align-items: flex-start;
  left: 100px;
  min-height: 556px;
  position: absolute;
  top: 728px;
  width: 612px;
}

.more-info .account-setting {
  height: 71px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-left: 2px;
  width: 610px;
}

.more-info .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 70px;
  margin-left: 2px;
  position: relative;
  width: 560px;
}

.more-info .text {
  letter-spacing: 0;
  line-height: 28.8px;
  position: relative;
  white-space: nowrap;
  width: 560px;
}

.more-info .display-name-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  min-height: 86px;
  width: 512px;
}

.more-info .display-name-3 {
  letter-spacing: 2.00px;
  line-height: 40px;
  margin-top: -1px;
  white-space: nowrap;
}

.more-info .display-name-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 64px;
  min-height: 86px;
  width: 512px;
}

.more-info .display-name-5 {
  letter-spacing: 2.00px;
  line-height: 40px;
  margin-top: -1px;
  white-space: nowrap;
}

.more-info .other-links {
  height: 71px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-left: 2px;
  margin-top: 77px;
  width: 610px;
}

.more-info .flex-col-5 {
  align-items: flex-start;
  gap: 61px;
  left: 788px;
  min-height: 236px;
  position: absolute;
  top: 900px;
  width: 514px;
}

.more-info .display-name-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 86px;
  width: 512px;
}

.more-info .display-name-7 {
  letter-spacing: 2.00px;
  line-height: 40px;
  margin-top: -1px;
  white-space: nowrap;
}

.more-info .display-name-container {
  height: 89px;
  position: relative;
  width: 514px;
}

.more-info .display-name-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 2px;
  min-height: 86px;
  position: absolute;
  top: 0;
  width: 512px;
}

.more-info .display-name-9 {
  letter-spacing: 2.00px;
  line-height: 40px;
  margin-top: -1px;
  white-space: nowrap;
}

.more-info .display-name-10 {
  align-items: flex-start;
  display: flex;
  gap: 1px;
  height: 86px;
  left: 0;
  min-width: 512px;
  position: absolute;
  top: 3px;
}

.more-info .display-name-11 {
  letter-spacing: 2.00px;
  line-height: 40px;
  margin-top: -1px;
  min-width: 1px;
  white-space: nowrap;
}

.more-info .component-9-1 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--fuscous-gray);
  border-radius: 10px;
  display: flex;
  height: 47px;
  min-width: 510px;
  padding: 0 19px;
}

.more-info .flex-col-6 {
  align-items: flex-end;
  gap: 64px;
  left: 104px;
  min-height: 156px;
  position: absolute;
  top: 1284px;
  width: 897px;
}

.more-info .httpswwwlinkedin {
  cursor: pointer;
  letter-spacing: 3.00px;
  line-height: 40px;
  min-height: 36px;
  text-decoration: underline;
  white-space: nowrap;
  width: 897px;
}

.more-info .button-1 {
  height: 52px;
  margin-right: 110px;
  min-width: 343px;
  padding: 8px 111.3px;
}

.more-info .next {
  color: var(--coffee);
  font-family: var(--font-family-roboto);
  font-size: 30px;
  font-weight: 900;
  height: 35px;
  letter-spacing: 1.20px;
  line-height: normal;
  min-width: 118px;
  text-align: center;
  white-space: nowrap;
}

.more-info .button-2 {
  height: 44px;
  left: 1183px;
  min-width: 117px;
  padding: 7.9px 22.7px;
  position: absolute;
  top: 1277px;
}

.more-info .next-1 {
  height: 28px;
  letter-spacing: 0.96px;
  line-height: normal;
  min-width: 71px;
  text-align: center;
  white-space: nowrap;
}

.more-info .footer {
  align-items: flex-start;
  display: flex;
  margin-top: 242px;
  min-width: 1440px;
}

.more-info .footer-1 {
  align-items: center;
  display: flex;
  height: 69px;
  min-width: 1440px;
  padding: 0 231.1px;
}

.more-info .button-3 {
  align-items: flex-end;
  background-color: var(--sunset-pearl);
  border: none;
  height: 40px;
  display: flex;
}

.more-info .flex-col-7 {
  display: flex;
  flex-direction: column;
}

.more-info .name-3 {
  height: 29px;
  letter-spacing: 0;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
}
