/* screen - more-info */

.more-info {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 2000px;
  width: 1440px;
}

.more-info .header {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 67px;
  justify-content: flex-start;
  min-width: 1440px;
  mix-blend-mode: normal;
  padding: 14px 118px;
  width: auto;
}

.more-info .span0 {
  letter-spacing: 1.00px;
  line-height: 30px;
}

.more-info .span1 {
  letter-spacing: 0.70px;
}

.more-info .button {
  align-items: center;
  align-self: flex-end;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 0.66px;
  margin-left: 493px;
  padding: 2px 0px;
  position: relative;
  width: fit-content;
}

.more-info .svg {
  height: 26px;
  min-width: 38px;
  position: relative;
}

.more-info .sign-in {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 56px;
}

.more-info .cart {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 39px;
  margin-top: 0;
  position: relative;
  width: fit-content;
}

.more-info .vector {
  height: 8.19px;
  min-width: 16.05px;
  position: relative;
}

.more-info .vector-1 {
  height: 28.46px;
  min-width: 33.34px;
  position: relative;
}

.more-info .number {
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 10px;
}

.more-info .overlap-group3 {
  border-radius: 24px;
  height: 312px;
  position: relative;
  width: 1440px;
}

.more-info .followers-0-following-0 {
  height: 29px;
  left: 325px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  text-align: center;
  top: 206px;
  white-space: nowrap;
}

.more-info .name-1 {
  left: 333px;
  position: absolute;
  top: 155px;
}

.more-info .component-12 {
  align-items: center;
  background-color: var(--coffee);
  border-radius: 24px;
  display: flex;
  gap: 72px;
  height: 312px;
  left: 0;
  min-width: 1440px;
  padding: 12px 85.5px;
  position: absolute;
  top: 0;
}

.more-info .flex-col {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 267px;
  width: 283px;
}

.more-info .user-icon {
  align-items: flex-start;
  background-color: var(--sand-dune);
  border-radius: 50%;
  display: flex;
  height: 222px;
  margin-left: 80px;
  min-width: 222px;
  padding: 58px 53px;
}

.more-info .u {
  height: 103px;
  letter-spacing: 0;
  line-height: 28.8px;
  text-align: center;
  width: 139px;
}


.more-info .footer {
  align-items: flex-start;
  display: flex;
  margin-top: 242px;
  min-width: 1440px;
}

.more-info .footer-1 {
  align-items: center;
  display: flex;
  height: 69px;
  min-width: 1440px;
  padding: 0 231.1px;
}

.more-info .flex-col-7 {
  display: flex;
  flex-direction: column;
}

.more-info .account-form {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.more-info .exp-form{
    width: 90%;
}

.more-info .section-title {
    font-size: 48px;
    font-family: Montserrat;
    /*font-weight: SemiBold;*/
    font-size: 36px;
    opacity: 1;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-weight: 600; /*SemiBold*/
}

.more-info .section-description {
    font-size: 18px;
    font-family: Montserrat;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    margin-top: 20px;
}

.more-info .input-label {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.more-info .text-field {
    width: 100%;
    min-height: 140px;
    padding: 10px;
    border: 1px solid rgba(85, 85, 85, 1);
    margin-bottom: 20px;
    margin-top: 15px;
}

.more-info .input-field {
    width: 300px;
    padding: 10px;
    border: 1px solid rgba(85, 85, 85, 1);
    margin-bottom: 20px;
    margin-top: 15px;
}

.more-info .account-section {
    margin-bottom: 40px;
}

.more-info .account-section:nth-child(2) .input-field {
    width: 45%;
    display: inline-block;
    margin-right: 10%;
}

.more-info .account-section:nth-child(2) .input-field:nth-child(even) {
    margin-right: 0;
}

.more-info .submit-section {
    text-align: center;
}

.more-info .submit-button {
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--sunset-pearl);
    border: none;
    height: 50px;
    display: flex;
    margin-right: 110px;
    padding: 5px 120px;
    color: var(--coffee);
    font-family: var(--font-family-roboto);
    font-size: 25px;
    font-weight: 900;
    height: 35px;
    letter-spacing: 1.20px;
    line-height: normal;
    min-width: 118px;
    text-align: center;
    white-space: nowrap;
}

.more-info .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    min-width: 800px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.more-info .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.more-info .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.more-info .close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.more-info .add-button {
    margin-top: 15px;
    padding: 10px;
    background-color: var(--sunset-pearl);
    cursor: pointer;
    border: none;
}

.more-info .input-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.more-info .input-group {
    flex: 1;
    margin-right: 15px;
    font-family: Montserrat;
}
.more-info .input-group:last-child {
    margin-right: 0;
}

.more-info .experience-item {
    margin: 15px;
    margin-bottom: 30px;
    min-width: 1120px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.more-info .experience-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.more-info .experience-dates {
    font-size: 20px;
    color: #666;
    margin: 10px 0;
}

.more-info .experience-description {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
}

.more-info .experience-delete-btn {
    background-color: #FF8080;
    color: white;
    border-radius: 5px;
    border: none;
    height: 28px;
    min-width: 117px;
    letter-spacing: 0.96px;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    font-family: Montserrat;
}

.more-info .experience-delete-btn:hover {
    background-color: red;
    color: white;
}
.more-info .hidden {
    display: none;
}

#hint.hint-field {
    color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.more-info .button-wrapper {
    display: flex;
    justify-content: center;
}

.more-info .form-row {
    display: flex;
    justify-content: space-between;
}

.more-info .input-group {
    flex: 1;
    margin-right: 10px;
}
