/* screen - register */

.register {
  align-items: center;
  background-color: #faf9f8;
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 1678px;
  width: 1440px;
}

.register .header {
  align-items: flex-start;
  background-color: #f1f0ef;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 67px;
  justify-content: flex-start;
  min-width: 1440px;
  mix-blend-mode: normal;
  padding: 14px 118px;
  width: auto;
}

.register .span0 {
  letter-spacing: 1.00px;
  line-height: 30px;
}

.register .span1 {
  letter-spacing: 0.70px;
}

.register .button {
  align-self: flex-end;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 0.66px;
  margin-left: 493px;
  padding: 2px 0px;
  position: relative;
  width: fit-content;
}

.register .svg {
  height: 26px;
  min-width: 38px;
  position: relative;
}

.register .sign-in {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 56px;
}

.register .cart {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 39px;
  margin-top: 0;
  position: relative;
  width: fit-content;
}

.register .vector {
  height: 8.19px;
  min-width: 16.05px;
  position: relative;
}

.register .vector-1 {
  height: 28.46px;
  min-width: 33.34px;
  position: relative;
}

.register .number {
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 10px;
}

.register .component-12 {
  align-items: center;
  background-color: var(--coffee);
  border-radius: 24px;
  display: flex;
  gap: 23px;
  height: 312px;
  margin-right: 19.0px;
  margin-top: 53px;
  min-width: 1203px;
  padding: 12px 48px;
}

.register .flex-col-1 {
  align-self: flex-end;
  gap: 16px;
  min-height: 267px;
  width: 283px;
}

.register .user-icon {
  align-items: flex-start;
  background-color: var(--sand-dune);
  border-radius: 111px;
  display: flex;
  height: 222px;
  margin-left: 1.0px;
  min-width: 222px;
  padding: 58px 53px;
}

.register .u {
  height: 103px;
  letter-spacing: 0;
  line-height: 28.8px;
  text-align: center;
  width: 116px;
}

.register .followers-0-following-0 {
  height: 29px;
  letter-spacing: 0;
  line-height: 28.8px;
  min-width: 283px;
  text-align: center;
  white-space: nowrap;
}

.register .name {
  height: 29px;
  line-height: 28.8px;
  margin-bottom: 27.0px;
  min-width: 173px;
  white-space: nowrap;
}

.register .add-schools {
  gap: 55px;
  margin-top: 29px;
  min-height: 378px;
}

.register .add-interested-universities {
  color: #161414;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.register .jpg-container {
  align-items: flex-end;
  display: flex;
  min-width: 1020px;
}

.register .usfcajpg {
  height: 264px;
  width: 259px;
}

.register .stanfordjpg {
  height: 268px;
  margin-left: 105px;
  width: 263px;
}

.register .berkeleyjpg {
  height: 268px;
  margin-left: 121px;
  width: 272px;
}

.register .pages {
  margin-top: 37px;
}

.register .overlap-group3 {
  align-items: flex-end;
  background-image: url(../img/diamond-3.svg);
  display: flex;
  min-width: 32px;
  padding: 7.0px 7px;
}

.register .icons8 {
  height: 18px;
  width: 18px;
}

.register .overlap-group {
  align-self: flex-end;
  background-image: url(../img/rectangle.svg);
  position: relative;
  width: 33px;
}

.register .rectangle {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.register .placeholder {
  color: var(--primary);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  left: 12px;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 9px;
}

.register .content {
  color: var(--gray-3);
  width: 9px;
}

.register .content-1 {
  color: var(--black);
  width: 17px;
}

.register .overlap-group4 {
  align-items: flex-end;
  background-image: url(../img/diamond-2.svg);
  display: flex;
  min-width: 32px;
  padding: 7.0px 7px;
}

.register .add-coach {
  gap: 72px;
  margin-top: 37px;
  min-height: 392px;
}

.register .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 54px;
  height: 264px;
  min-width: 1020px;
}

.register .flex-col-2 {
  gap: 31px;
  min-height: 263px;
  width: 214px;
}

.register .ellipse {
  width: 214px;
}

.register .name-1 {
  line-height: normal;
  margin-left: 0.38px;
  min-height: 29px;
  min-width: 105px;
}

.register .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 31px;
  min-height: 263px;
  width: 215px;
}

.register .ellipse-1 {
  width: 215px;
}

.register .jing-wu {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 0.17px;
  min-height: 29px;
  min-width: 91px;
  text-align: center;
}

.register .name-2 {
  line-height: normal;
  margin-right: 1.66px;
  min-height: 29px;
  min-width: 106px;
}

.register .flex-col-3 {
  gap: 30px;
  min-height: 264px;
  width: 214px;
}

.register .name-3 {
  line-height: normal;
  margin-right: 0;
  min-height: 31px;
  width: 86px;
}

.register .pages-1 {
  margin-top: 13px;
}

.register .overlap-group2 {
  align-items: flex-end;
  background-image: url(../img/diamond-1.svg);
  display: flex;
  min-width: 32px;
  padding: 7.0px 7px;
}

.register .overlap-group-1 {
  align-items: flex-end;
  background-image: url(../img/diamond.svg);
  background-size: 100% 100%;
  display: flex;
  height: 32px;
  min-width: 32px;
  padding: 7.0px 7px;
}

.register .button-1 {
  background-color: var(--sunset-pearl);
  border-radius: 6px;
  height: 52px;
  margin-left: 1.0px;
  margin-top: 37px;
  min-width: 343px;
  padding: 0 17.3px;
}

.register .next {
  height: 28px;
  letter-spacing: 0.96px;
  line-height: normal;
  min-width: 306px;
  text-align: center;
  white-space: nowrap;
}

.register .footer {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 69px;
  justify-content: flex-start;
  margin-top: 138px;
  min-width: 1440px;
  padding: 0 231.1px;
  width: auto;
}

.register .add {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 12.0px;
  width: 1020px;
}

.register .add-interested {
  letter-spacing: 0;
  line-height: 64.8px;
  margin-top: -1px;
  min-height: 56px;
  white-space: nowrap;
}

.register .button-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.register .content-2 {
  align-self: center;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-top: 0;
  white-space: nowrap;
}

.register .ellipse-2 {
  height: 203px;
  object-fit: cover;
}

.register .flex-col-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.register .name-4 {
  letter-spacing: 0;
  text-align: center;
}

.register .overlap {
  background-size: 100% 100%;
  height: 32px;
}

.register .pages-2 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  margin-left: 1.0px;
  min-width: 155px;
}
