/* screen - resources */

.resources {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 1287px;
  width: 1440px;
}

.resources .header {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 67px;
  justify-content: flex-start;
  min-width: 1440px;
  mix-blend-mode: normal;
  padding: 14px 118px;
  width: auto;
}

.resources .span0 {
  letter-spacing: 1.00px;
  line-height: 30px;
}

.resources .span1 {
  letter-spacing: 0.70px;
}

.resources .button {
  align-self: flex-end;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 0.66px;
  margin-left: 493px;
  padding: 2px 0px;
}

.resources .svg {
  height: 26px;
  min-width: 38px;
  position: relative;
}

.resources .sign-in {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 56px;
}

.resources .cart {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 39px;
  margin-top: 0;
  position: relative;
  width: fit-content;
}

.resources .vector {
  height: 8.19px;
  min-width: 16.05px;
  position: relative;
}

.resources .vector-1 {
  height: 28.46px;
  min-width: 33.34px;
  position: relative;
}

.resources .number {
  left: 12px;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 10px;
}

.resources .main-section {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin-top: 105px;
  min-height: 774px;
  width: 938px;
}

.resources .post-header {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 61px;
  padding: 22px 0;
  width: 940px;
}

.resources .all-posts-basketball-football-baseball {
  height: 15px;
  letter-spacing: 0.52px;
  line-height: normal;
  min-width: 351px;
  text-align: center;
  white-space: nowrap;
}

.resources .post-content-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 704px;
  width: 940px;
}

.resources .hitting-it-out-of-th {
  align-items: flex-start;
  border: 1px solid;
  border-color: #e8e6e6bf;
  display: flex;
  margin-left: -1px;
  width: 940px;
}

.resources .item-container {
  height: 340px;
  position: relative;
  width: 939px;
}

.resources .divitem-wrapper-a1b8 {
  align-items: flex-start;
  display: flex;
}

.resources .divgallery-item-content {
  align-items: flex-start;
  background-image: url(../img/11062b-7d55e1e8df604f728456a7d503a0d8f2-mv2-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  width: 454px;
}

.resources .x11062b_7d55e1e8df604 {
  background-image: url(../img/11062b-7d55e1e8df604f728456a7d503a0d8f2-mv2-jpg-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 340px;
  width: 454px;
}

.resources .divgallery-item-common-info {
  align-items: flex-start;
  display: flex;
  height: 338px;
  left: 453px;
  position: absolute;
  top: 1px;
  width: 486px;
}

.resources .article {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  min-width: 486px;
}

.resources .divi-st-cp-n {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 338px;
  padding: 24px 0;
  width: 486px;
}

.resources .div-sbj-qym {
  align-items: center;
  display: flex;
  gap: 41.5px;
  padding: 0px 0px 12px;
  position: relative;
  width: fit-content;
}

.resources .divv_a-jb6 {
  align-items: center;
  display: flex;
  flex: 1;
  padding: 0px 225.59px 0px 0px;
  position: relative;
}

.resources .link-wow-image {
  background-image: url(../img/1bf8c6-28476479297545c0b8bfad641b507f7e-mv2-png@2x.png);
  background-size: 100% 100%;
  border-radius: 16px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.resources .divd-zs5e3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -6.50px;
  padding: 0px 0px 0px 10px;
  position: relative;
  width: fit-content;
}

.resources .link {
  align-items: center;
  position: relative;
}

.resources .spant-q0-q1-a {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.resources .highlytr-inc {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources .admin-svg {
  height: 19px;
  margin-left: -0.59px;
  min-width: 19px;
  position: relative;
}

.resources .list {
  padding: 0px 6.6px 0px 0px;
}

.resources .item-2 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.resources .mar-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources .item {
  height: 2px;
  margin-left: -0.19px;
  min-width: 18px;
  position: relative;
}

.resources .div-ki_0_s {
  background-color: var(--black-2);
  border-radius: 1px;
  height: 2px;
  left: 8px;
  position: relative;
  width: 2px;
}

.resources .item-1 {
  align-items: flex-start;
  display: flex;
  margin-left: -0.19px;
  position: relative;
  width: fit-content;
}

.resources .address {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources .button-more-actions-img {
  height: 19px;
  min-width: 19px;
  position: relative;
}

.resources .divjm-ci2vmask-group {
  height: 198px;
  object-fit: cover;
  width: 414px;
}

.resources .divn-ps-er6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 46px;
  width: 414px;
}

.resources .divtm-hsx-h {
  background-color: var(--black-2);
  height: 1px;
  margin-top: 12px;
  opacity: 0.2;
  width: 414px;
}

.resources .divnt9z-c5 {
  align-items: center;
  display: flex;
  gap: 251.15px;
  position: relative;
  width: fit-content;
}

.resources .div-ps-ey9r {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.resources .dive54-hwo {
  height: 18px;
  min-width: 132.02px;
  overflow: hidden;
  position: relative;
}

.resources .address-1 {
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.resources .link-1 {
  align-items: flex-start;
  left: 65px;
  position: absolute;
  top: 2px;
}

.resources .address-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources .button-1 {
  gap: 4.83px;
}

.resources .spanlaz8-e8 {
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1px;
}

.resources .address-3 {
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 191px;
}

.resources .number-1 {
  line-height: 12px;
  position: relative;
  width: fit-content;
}

.resources .img {
  height: 19px;
  min-width: 19px;
  position: relative;
}

.resources .the-dons-a-legacy-of {
  align-items: flex-start;
  border: 1px solid;
  border-color: #e8e6e6bf;
  display: flex;
  width: 940px;
}

.resources .divitem-wrapper-0476 {
  background-image: url(../img/41b0b0-e72eaf4e3c9048a79edbbd68dd614ffe-mv2-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
}

.resources .link-wow-image-1 {
  background-image: url(../img/1bf8c6-28476479297545c0b8bfad641b507f7e-mv2-png-1@2x.png);
  background-size: 100% 100%;
  border-radius: 16px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.resources .spant-q0-q1-a-1 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.resources .highlytr-inc-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources .list-1 {
  padding: 0px 5.6px 0px 0px;
}

.resources .item-3 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.resources .mar-9-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources .address-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources .button-more-actions-img-1 {
  height: 19px;
  min-width: 19px;
  position: relative;
}

.resources .footer {
  align-items: flex-start;
  margin-top: 272px;
}

.resources .footer-1 {
  align-items: center;
  height: 69px;
  padding: 0 231.1px;
}

.resources .button-2 {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.resources .divitem-wrapper {
  height: 340px;
  left: 0;
  position: absolute;
  top: 0;
  width: 454px;
}

.resources .link-2 {
  display: flex;
  width: fit-content;
}

.resources .list-2 {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.resources .number-2 {
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
}
