/* screen - university */

.university {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 1796px;
  width: 1440px;
}

.university .overlap-group {
  height: 810px;
  position: relative;
  width: 1440px;
}

.university .image-1 {
  height: 728px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 1440px;
}

.university .back {
  align-items: flex-start;
  background-color: #d9d9d980;
  border-radius: 41px;
  display: flex;
  height: 82px;
  left: 13px;
  min-width: 82px;
  padding: 25px;
  position: absolute;
  top: 105px;
}

.university .text-3 {
  color: var(--coffee);
  font-family: var(--font-family-montserrat);
  font-size: 50px;
  font-weight: 700;
  height: 29px;
  letter-spacing: 0;
  line-height: 28.8px;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
}

.university .school-name {
  align-items: center;
  background-color: #d9d9d9b2;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 16px 63px;
  position: absolute;
  top: 734px;
  width: fit-content;
}

.university .university-of-san-francisco {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.university .header {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  height: 67px;
  justify-content: flex-start;
  left: 0;
  min-width: 1440px;
  mix-blend-mode: normal;
  padding: 14px 118px;
  position: absolute;
  top: 0;
  width: auto;
}

.university .span0 {
  letter-spacing: 1.00px;
  line-height: 30px;
}

.university .span1 {
  letter-spacing: 0.70px;
}

.university .button {
  align-items: center;
  align-self: flex-end;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 0.66px;
  margin-left: 493px;
  padding: 2px 0px;
  position: relative;
  width: fit-content;
}

.university .svg {
  height: 26px;
  min-width: 38px;
  position: relative;
}

.university .sign-in {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 56px;
}

.university .cart {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 39px;
  margin-top: 0;
  position: relative;
  width: fit-content;
}

.university .vector {
  height: 8.19px;
  min-width: 16.05px;
  position: relative;
}

.university .vector-1 {
  height: 28.46px;
  min-width: 33.34px;
  position: relative;
}

.university .number {
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 10px;
}

.university .the-university-of-sa {
  align-self: center;
  color: var(--fuscous-gray-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 3.20px;
  line-height: 40px;
  margin-right: 11.0px;
  margin-top: 44px;
  min-height: 399px;
  width: 1255px;
}

.university .title {
  letter-spacing: 0;
  line-height: 64.8px;
  margin-left: 91px;
  margin-top: 49px;
  min-height: 56px;
  white-space: nowrap;
}

.university .x-scholarships {
  color: var(--black-2);
  font-family: var(--font-family-molengo);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 64.8px;
  margin-left: 169px;
  min-height: 56px;
  white-space: nowrap;
}

.university .official-link {
  cursor: pointer;
  height: 29px;
  margin-left: 93px;
  margin-top: 65px;
  width: 243px;
}

.university .about-university-falloccousfcaedu {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 96px;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 93px;
  margin-top: 28px;
}

.university .span0-1 {
  font-weight: 700;
}

.university .span1-1 {
  text-decoration: underline;
}

.university .footer {
  align-items: flex-start;
  margin-top: 39px;
}

.university .footer-1 {
  align-items: center;
  height: 69px;
  padding: 0 231.1px;
}
