/* screen - university */

.university {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 810px;
  min-width: 1440px;
  overflow-x: hidden;
}

.university .overlap-group1 {
  height: 1751px;
  margin-left: -40px;
  margin-top: -4px;
  position: relative;
  width: 1480px;
}

.university .divl-wb-aav {
  background-color: var(--white);
  height: 1707px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.university .search {
  align-items: flex-end;
  border: 0.52px solid;
  border-color: var(--black-3);
  border-radius: 5.21px;
  display: flex;
  height: 25px;
  left: 1029px;
  overflow: hidden;
  position: absolute;
  top: 29px;
  width: 207px;
}

.university .search-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-bottom: 0;
  margin-left: 1px;
  width: 206px;
}

.university .divl-yhw1-a {
  align-items: flex-start;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 6.83px 0px 7.76px;
  position: relative;
}

.university .button {
  align-items: flex-start;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 14px;
  height: 41px;
  justify-content: flex-end;
  left: 1258px;
  min-width: 120px;
  padding: 4px 10px;
  position: absolute;
  top: 20px;
}

.university .cart {
  align-items: flex-start;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  left: 1378px;
  min-width: 35px;
  padding: 0 0.8px;
  position: absolute;
  top: 19px;
}

.university .overlap-group {
  height: 42px;
  margin-top: 0;
  position: relative;
  width: 33px;
}

.university .vector {
  height: 33px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 33px;
}

.university .vector-1 {
  height: 10px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 16px;
}

.university .number {
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 11px;
}

.university .the-university-of-sa {
  color: var(--fuscous-gray-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 133px;
  letter-spacing: 3.20px;
  line-height: 40px;
  position: absolute;
  top: 870px;
  width: 1255px;
}

.university .image-1 {
  height: 728px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 1440px;
}

.university .item-link-home {
  left: 279px;
  min-width: 47px;
}

.university .item-link-explore {
  left: 344px;
  min-width: 58px;
}

.university .item-link-resources {
  left: 420px;
  min-width: 79px;
}

.university .item-link-resources-1 {
  height: 18px;
  letter-spacing: 0.70px;
  line-height: normal;
  margin-top: -1px;
  width: 79px;
}

.university .item-link-connect {
  left: 516px;
  min-width: 65px;
}

.university .heading-2-link-high-lytr {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 135px;
  min-width: 105px;
  position: absolute;
  top: 19px;
}

.university .rectangle-3 {
  background-color: #d9d9d9b2;
  border-radius: 10px;
  height: 77px;
  left: 0;
  position: absolute;
  top: 672px;
  width: 608px;
}

.university .title {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 27px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 696px;
  white-space: nowrap;
  width: 687px;
}

.university .back {
  align-items: flex-start;
  background-color: #d9d9d980;
  border-radius: 41px;
  cursor: pointer;
  display: flex;
  height: 82px;
  left: 53px;
  min-width: 82px;
  padding: 25px;
  position: absolute;
  top: 109px;
}

.university .text-2 {
  color: var(--coffee);
  font-family: var(--font-family-montserrat);
  font-size: 50px;
  font-weight: 700;
  height: 29px;
  letter-spacing: 0;
  line-height: 28.8px;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
}

.university .official-link {
  height: 29px;
  left: 133px;
  position: absolute;
  top: 1539px;
  width: 243px;
}

.university .about-university-falloccousfcaedu {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 213px;
  left: 133px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 1538px;
  width: 1220px;
}

.university .span0 {
  font-weight: 700;
}

.university .span1 {
  text-decoration: underline;
}

.university .scholarships {
  left: 131px;
  letter-spacing: 0;
  line-height: 64.8px;
  position: absolute;
  top: 1306px;
  white-space: nowrap;
  width: 594px;
}

.university .a-scholarships {
  color: var(--black-2);
  font-family: var(--font-family-molengo);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 209px;
  letter-spacing: 0;
  line-height: 64.8px;
  position: absolute;
  top: 1362px;
  white-space: nowrap;
  width: 594px;
}

.university .b-scholarships {
  color: var(--black-2);
  font-family: var(--font-family-molengo);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 209px;
  letter-spacing: 0;
  line-height: 64.8px;
  position: absolute;
  top: 1418px;
  white-space: nowrap;
  width: 594px;
}

.university .item-link {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 18px;
  position: absolute;
  top: 31px;
}
